<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 88%; margin: 3%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px; line-height: 1.6rem; border: 1px solid #165d3d; padding: 3%; box-shadow: 0 5px 15px #969696;">
        <h2>Hi Rama Krishna Jetti</h2>
        <p>Thanks for contacting HPRInfra! This automatic reply is just to let you know that we received your message and we will get back to you with a response as quickly as possible. During business hours, we do our best to reply as quick as we can, usually within a couple of hours.</p>
        <p style="text-align: center; margin-top: 30px;">
            <button style="padding: 10px 20px; background-color: #165d3d; color: #ffffff; border: 0; border-radius: 5px; font-size: 18px; cursor: pointer;">Go To Website</button>
        </p>
    </div>
</body>
</html>